<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.houseWork.mapper.dict.DictDao">
    <select id="selectByMap" parameterType="java.util.Map" resultType="com.houseWork.entity.dict.Dict">
        select * from dict
        where 1=1
    </select>
    <insert id="insert" parameterType="com.houseWork.entity.dict.Dict" useGeneratedKeys="true">
        INSERT INTO dict(type,k,v,orderby)
		VALUES
			(#{type},#{k},#{v},#{orderby});
    </insert>
    <update id="update">
        UPDATE dict
        <set>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="k != null">
                k = #{k},
            </if>
            <if test="v != null">
                v = #{v},
            </if>
            <if test="orderby != null">
                orderby = #{orderby},
            </if>
        </set>
        <where>
            <if test="id != null and id != ''">
                AND id = #{id}
            </if>
        </where>
    </update>
</mapper>